<div class="fos_user_user_show">
    <table class="table table-striped">
                
        <tbody>         
            <tr>
                <th><p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</p></th>
                <td><p>{{ user.username }}</p></td>
            </tr>
            <tr>
                <th><p>{{ 'profile.show.nom'|trans({}, 'FOSUserBundle') }}</p></th>
                <td><p>{{ user.nom }}</p></td>
            </tr>
            <tr>
                <th><p>{{ 'profile.show.prenom'|trans({}, 'FOSUserBundle') }}</p></th>
                <td><p>{{ user.prenom }}</p></td>
            </tr>
            <tr>
                <th><p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</p></th>
                <td><p>{{ user.email }}</p></td>
            </tr>
            <tr>
                <th><p>{{ 'profile.show.dateNaissance'|trans({}, 'FOSUserBundle') }}</p></th>
                <td><p>
                    {{ user.dateNaissance|date('d/m/Y') }}</p></td>
            </tr>
            <tr>
                <th><p>{{ 'profile.show.telephone'|trans({}, 'FOSUserBundle') }}</p></th>
                <td><p>{{ user.telephone }}</p></td>
            </tr>
            
        </tbody>
        
    </table>
</div>
